.naglowek {
    color:#eec041de;
    background-color: #030303b6;
}

.pudelko1 .podtytul {
    color: #eec041de;
    background-color: #030303b6;
}

.pudelko2 .podtytul {
    color: #eec041de;
    background-color: #030303b6;
}

.pudelko3 .podtytul {
    color: #eec041de;
    background-color: #030303b6;
}